<!DOCTYPE html>
<html lang="az">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A first App</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <label for="goal">Goal</label>
      <input type="text" id="goal" v-model="newGoal">
      <button @click="addGoal">Add Goal</button>
    </div>
    <ul>
      <li v-for="(goal, index) in goals" :key="index">{{ goal }}</li>
    </ul>
  </div>

  <script src="app.js"></script>
</body>
</html>
